/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header.header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 20px;
}

.text-encabezado {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.main-container {
    padding: 20px;
}

.title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
}

.table-container {
    display: flex;
    justify-content: center;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

table th,
table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #20c997;
    color: #fff;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table td {
    color: #333;
}

/* Estilos del footer */
footer.footer {
    background-color: #20c997;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #fff;
}
.text-encabezado {
    text-align: left;
    margin-right: 790px;
    color: rgb(20 184 166);
    margin-top: 0;
}