body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e2e8f0;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 150px;
    height: auto;
}

.slogan {
    text-align: right;
    color: #38a169;
    font-weight: bold;
    margin: 0;
}

.main-container {
    padding: 20px;
}

.title {
    text-align: center;
    color: #4a5568;
    margin: 20px 0;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 28%;
    margin-right: 150px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #4a5568;
}

.form-group input,
.form-group select {
    width: 80%;
    padding: 8px;
    border: 1px solid #cbd5e0;
    border-radius: 4px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    width: 22%;
}

#guardarBtn {
    background-color: #38a169;
}

#actualizarBtn {
    background-color: #4a90e2;
}

#consultarBtn {
    background-color: #718096;
}

#eliminarBtn {
    background-color: #e53e3e;
}

.table-container {
    width: 80%;
    margin: 20px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    border: 1px solid #cbd5e0;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #38a169;
    color: #ffffff;
}

table td button {
    margin-right: 5px;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

table td .bg-green-500 {
    background-color: #38a169;
}

table td .bg-red-500 {
    background-color: #e53e3e;
}

.footer {
    background-color: #38a169;
    color: white;
    text-align: center;
    padding: 10px;
}
.text-encabezado{
    text-align: left;
    margin-right: 790px;
    color: rgb(20 184 166 );
    margin-top: 0;
}

